*{
    padding: 0px;
    margin: 0; 
    box-sizing: border-box;
    size: 100%;
}
#map{
    /* height: 92vh; original */
    height: 87vh;
    width:auto;
}
.header{
    display:flex;
    justify-content:center;
    /* position:relative; */
    align-self: center;
    padding: 8px;
}
#headin{
    color: rgb(50, 113, 116);
    align-self: center;
    padding: 8px;
    font-family:anta;
    font-size: xx-large;
    text-align:center;
}
#logo{
    height: 65px;
}
.levelbutton {
    background-color: rgb(50, 113, 116);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    font-family:"anta";
    font-size:x-large;
    height: 60px;
    width:  60px;
    margin: 4px ;
    border-radius: 50%;
  }
/* #map{
    for use without heading 
    height: 100vh; 
} */