.bottom-bar {
    display: flex;
    justify-content: center;
    background-color: #6161615e;
    position: fixed;
    padding-top: 12px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 12%;
    transition: 0.5s ease-out;
}
.bottom-bar-down {
    padding: 0px;
    height: 0px;
    transition: 0.5s ease-in;
}

.countboxi {
    color: var(--brand-primary-light);
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #61616100;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 0;
    border: none;
    transition: ease-in-out 1s;
}

@media only screen and (max-width: 768px) {
    .bottom-bar {
        height: 30%;
        /* Set the default height of the bottom bar */
    }

    .bottom-bar-down {
        height: 0px;
    }
}